{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
   Instructions 
{% endblock %}

{% block styles %}
	<style>
		.bold {
			font-weight: bold;
		}
	</style>
{% endblock %}

{% block content %}

    <p>
    	Greetings!<br>
    	You have been assigned the role of a <span class="bold">{{ player.role }}</span> in this market.<br>
    <p>

    {% if player.role == "buyer" %}
    <p>
    	You have been given <span class="bold">{{ player.currency }} points</span> to use to purchase good.
    	<br>
    	Each good you buy is worth <span class="bold">{{ player.value }} points</span>.
        <br>
        When you buy a good, you receive points equal to the difference between
        what the good is worth to you and what you paid.
        <br>
        For example, if you bought one good for {{ player.value|add:-5 }} points
        and another good for {{ player.value|add:-3 }} your payoff would be:
        <br>
        {{ player.value }} - {{ player.value|add:-5 }} + {{ player.value }} - {{ player.value|add:-3 }} = 5 + 3 = 8 points.
    </p>
    {% endif %}

    {% if player.role == "seller" %}
    <p>
    	You have been given <span class="bold">{{ player.units }} goods</span>.
    	<br>
    	Each good you sell costs you <span class="bold">{{ player.cost }} points</span> to make.
        <br>
        When you sell a good, you receive points from a buyer equal to your asking
        price.
        <br>
        Your final payoff is the difference between what you receive for a good and
        the cost.
        For example, if you sold one good for {{ player.cost|add:5 }} points
        and another good for {{ player.cost|add:3 }} your payoff would be:
        <br>
        {{ player.cost|add:5 }} - {{ player.cost }} + {{ player.cost|add:3 }} - {{ player.cost }} = 5 + 3 = 8 points.
    </p>
    {% endif %}

    {% next_button %}

{% endblock %}