{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Market 
{% endblock %}

{% block scripts %}
    <script>
        var oTree = oTree || {};
       (function() {
         oTree.group = parseInt("{{ player.group.pk }}");
         oTree.group = isNaN(oTree.group) ? null : oTree.group;
         oTree.role = "{{ player.role }}";
         oTree.participantCode = "{{ player.participant.code }}";
         oTree.appName = "{{ subsession.app_name }}";
         oTree.idInGroup = "{{ player.id_in_group }}";
         oTree.csrfToken = "{{ csrf_token }}";
         {% if view.is_debug %}
         oTree.debug = true;
         {% else %}
         oTree.debug = false;
         {% endif %}
       })();
     </script>

    <link
        rel="import"
        href="{% static "continuous_double_auction/webcomponents/continuous_double_auction/continuous_double_auction.html" %}">
{% endblock %}

{% block content %}
    <continuous-double-auction
        role="{{ player.role }}"
        currency="{{ player.currency }}"
        units="{{ player.units }}"
        value="{{ player.value }}"
        cost="{{ player.cost }}">
    </continuous-double-auction>
{% endblock %}
